@import './../../common.scss';

.em {
  border-bottom: 3px solid #ffffff00;
  position: relative;
  padding: 0 2px 6px 2px;
  transition: border-bottom 0.2s ease-in-out;

  .content {
    position: relative;
    z-index: 15;
  }

  .highlight {
    background: lightblue;
    opacity: 0.5;
    position: absolute;
    z-index: 0;
    width: 102%;
    height: 70%;
    left: -1%;
    bottom: -3px;
    transition: 0.2s ease-in-out;

    &.cycle { @include colorize(cycle) }
    &.matcha { @include colorize(matcha) }
    &.atomic { @include colorize(atomic) }
    &.sakura { @include colorize(sakura) }

    &.header {
      height: 0%;
      width: 120%;
      left: -10%;
    }

  }

  &:hover {
    &.cycle { @include bottom-colorize(cycle) }
    &.matcha { @include bottom-colorize(matcha) }
    &.atomic { @include bottom-colorize(atomic) }
    &.sakura { @include bottom-colorize(sakura) }

    .highlight {
      height: 118%;
      display: block;
      &.header {
        height: 72%;
      }
    }
  }
}
