@import "./../../common.scss";

.header {
  background: white;
  width: 668px;
  height: auto;
  overflow-y: auto;
  padding: 90px 0 10px 0;
  position: fixed;
  top: 0;
  left: 50%;
  margin-left: -334px;
  z-index: 10;

  @media (max-width: 700px) {
    margin: 0 20px;
    width: calc(100vw - 40px);
    margin-left: 20px;
    left: 0;
  }

  .logo {
    width: 30px;
    height: 31px;
    float: left;
    fill: get(atom);
    stroke: get(atom);
    margin-left: 30px;
  }

  .header-item {
    float: right;
    font: 800 16px Lato;
    text-decoration: none;
    color: get("atom");
    padding: 6px 8px;

    @media (max-width: 700px) {
      display: none;
    }

    .header-item-content {
      border-radius: 3px;
      background: transparent;
      padding: 4px 8px;
      transition: background 0.2s ease-in-out;

      &:hover {
        &.cycle { @include colorize(trans_cycle) }
        &.matcha { @include colorize(trans_matcha) }
        &.atomic { @include colorize(trans_atomic) }
        &.sakura { @include colorize(trans_sakura) }
      }
    }

    &.cycle { @include font-colorize(cycle) }
    &.matcha { @include font-colorize(matcha) }
    &.atomic { @include font-colorize(atomic) }
    &.sakura { @include font-colorize(sakura) }
  }

}
